{% extends "base.html" %}

{% block content %}

    <title>Shop</title>
    <link rel="stylesheet" href="/static/css/style (2).css">
</head>
<body>
    <h1> Shop </h1>

    <h3> Novi proizvodi </h3>

    <div class="card1">
        <img src="/static/img/hudica_hypebeast_bear.png" alt="hudica_hypebeast_bear" style="width: 80%;">
        <h1> Stumble guys hudica - bijela</h1>
        <p class="price"> 20€ </p>
        <p> Siva hudica bez kapuljače.. </p>
        <p> <button> Add to cart </button></p>
    </div>

    <div class="card2"> 
        <img src="/static/img/hyperbeast_bear_tshirt.jpg" alt="majica" style="width: 80%;">
        <h1> Stumble guys majica - crna</h1>
        <p class="price"> 15€ </p>
        <p> Crna majica kraktih rukava. </p>
        <p> <button> Add to cart </button></p>
    </div>

    <div class="card3"> 
        <img src="/static/img/majica-stumble.jpg" alt="majica" style="width: 80%;">
        <h1> Stumble guys majica - crna</h1>
        <p class="price"> 20€ </p>
        <p> Crna hudica bez kapuljače. </p>
        <p> <button> Add to cart </button></p>
    </div>

{% endblock content %}

</body>
</html>